@import "./utils/normalize";
@import "./utils/setup";
@import "./utils/variables";

@import "./sections/header";
@import "./sections/main-section";
@import "./sections/about-section";
@import "./sections/products-section";
@import "./sections/contacts-section";

.container {
  overflow: hidden;
}

section {
  padding: 50px calcFluidSizeWidth(24, 120, 375, 1920);

  h2 {
    margin-bottom: 30px;
  }
}